$yale-blue: rgba(6, 71, 137, 1);
$steel-blue: rgb(66, 121, 161);
$alice-blue: rgba(235, 242, 250, 1);
$black-chocolate: rgba(16, 11, 0, 1);
$honey-yellow: rgba(247, 179, 43, 1);
$red-ryb: rgba(255, 34, 12, 1);

$cool-green: #00a9a2;
$off-white: #e5ece9;
