.profile-body {
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin-top: 50px;
  }
}

.profile-btns {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;

  button {
    margin: 10px;
  }
}
