.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  h3 {
    margin-top: 50px;
  }
}

.profile-btns {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;

  button {
    margin: 10px;
  }
}
