.explore {
  align-items: center;
  background-image: url('../styles_css/img/fundo_explore.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}

.header {
  background-color: rgb(41, 41, 41);
  color: #e5ece9;
  display: flex;
  flex-direction: row;
  font-family: KithcenHome , sans-serif;
  justify-content: space-between;
  padding: 1vw;
  width: 100vw;
}

.header h2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
  width: 20vw;
}

.explore-btns {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
  margin: 0;
  width: 100vw;
}

.explore-btns button {
  background-color: black;
  height: 8vh;
  margin: 10px;
}

.explore .btn-danger {
  background-image: linear-gradient(135deg, rgb(136, 23, 23) 0%, black 100%);
  border: 4px solid;
  border-image: linear-gradient(135deg, black 0%, red 100%) 1;
}

@media ( max-width : 768px ) {

  .explore {
    align-items: center;
    background-image: url('../styles_css/img/fundo_explore_mobile.png');
    background-size: 100% 100%;
  }

  .explore-btns {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .explore-btns button {
    background-color: black;
    height: 8vh;
    margin: 8%;
  }
}
